<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Run with sbt "test-only UnitTestRunner"-->
<suite name="Unit Test Suite">

    <test name="Unit Tests - exclude Int Tests">

        <groups>
            <run>
                <exclude name="int-test" />
            </run>
        </groups>

        <classes>
            <class name="main.LoadCsvToDatabaseTest" />
        </classes>

    </test>
</suite>